html, body {
    height: 100%;
  }


body {
    margin: 0;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    text-align: center;
    margin: 0 5%;

}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #4aaaa5;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1em;
}


#crystals {
    width: 70%;
    margin: 0 auto;
    
}

.crystal:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);

}

footer {
    text-align: center;
    background-color: #848484;
    padding: 5px 0 1px 0;
    color: white;
    font-size: small;
    /* margin-bottom: 0; */
    border-top: 8px solid #4aaaa5;
    flex-shrink: 0;
}